div {
    width: 75px;
    height: 75px;
    float: left;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    background-color: #6a3484;
}
div p {
    display: none;
}

#six    {
    clear: left;
}

.flipped {
    display: block;
    color: white;
    background-color: #8d46b0;
}